.container {
  padding: 20px;
}

.bookContainer, .chapterContainer {
  display: flex;
  justify-content: center;
}

.bookBtn, .chapterBtn {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.selected {
  background-color: #4caf50; /* Green background for selected item */
  color: white;
}

.chapter-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
}

.chapter-image {
  max-width: 100%;
  max-height: 80vh; /* Adjust as needed */
  display: block;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}
